[Unit]
Description=Joormann Media DevicePlayer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=djanebmb
Group=djanebmb
SupplementaryGroups=video render input
WorkingDirectory=/home/djanebmb/projects/Joormann-Media-DevicePlayer
Environment=PYTHONUNBUFFERED=1
Environment=SDL_AUDIODRIVER=dummy
Environment=DEVICEPLAYER_MANIFEST_PATH=
Environment=DEVICEPLAYER_STORAGE_ROOT=
Environment=DEVICEPLAYER_PORTAL_PLAYER_SOURCE=%h/Joormann-Media-DevicePortal/var/data/player-source.json
Environment=DEVICEPLAYER_PORTAL_STORAGE_CONFIG=%h/Joormann-Media-DevicePortal/var/data/config-storage.json
Environment=DEVICEPLAYER_VIDEO_DRIVERS=kmsdrm,fbcon,wayland,x11
Environment=DEVICEPLAYER_TRANSITION_FPS=30
Environment=DEVICEPLAYER_IDLE_SLEEP_MS=200
Environment=DEVICEPLAYER_CONTROL_API_HOST=127.0.0.1
Environment=DEVICEPLAYER_CONTROL_API_PORT=5081
ExecStart=/home/djanebmb/projects/Joormann-Media-DevicePlayer/.venv/bin/python /home/djanebmb/projects/Joormann-Media-DevicePlayer/run.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
